# List

- list is an ordered sequence of items
- We can have different data types under a list. E.g we can have integer, float and string items in
  a same list.

# List Creation

In [1]:
list1 = [] # emopty list
list1

[]

In [2]:
print(type(list1))

<class 'list'>

In [3]:
list2 = [10,30,60] # list of integer numbers

In [4]:
list3 = [10.77,30.44,60.99] # list of float numbers

In [5]:
list4 = ['one','two','three'] # list of strings

In [6]:
list5 =['Asif',35,[10,30],[50,40]] # Nested list

In [7]:
list6 = [10,'Varad',10.55] # list of mixed data types

In [8]:
list7 =['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

In [9]:
len(list7)

5

# list indexing

In [10]:
list2[0] # retrieves first element of list2

10

In [11]:
list4[0][0]## Nested indexing - Access the first character of the first list element

'o'

In [12]:
list3[-1]# last item of list

60.99

# List slicing

In [13]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [14]:
mylist[0:3]

['one', 'two', 'three']

In [15]:
mylist[2:5]

['three', 'four', 'five']

In [16]:
mylist[:3]

['one', 'two', 'three']

In [17]:
mylist[-3:]# Return last three elements of list

['six', 'seven', 'eight']

In [18]:
mylist[:]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# Add,Remove and make changes

In [19]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mylist.append('nine') # Add an item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [22]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [23]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [24]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [25]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [26]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [27]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [28]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

In [29]:
del mylist # Delete the whole list
mylist

NameError: name 'mylist' is not defined

# copy list

In [31]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [32]:
mylist1 = mylist # Create a new reference "mylist1"

In [33]:
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same

(4468065216, 4468065216)

In [34]:
mylist2 = mylist.copy() # Create a copy of the list

In [35]:
id(mylist2) # The address of mylist2 will be different from mylist because mylis

4467818816

In [36]:
mylist[0] = 1
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [37]:
mylist1 # mylist1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [38]:
mylist2 # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

# Join list

In [39]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [40]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [41]:
list1.extend(list2) #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# list membership

In [42]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [44]:
'one' in list1 # Check if 'one' is in list1

True

In [45]:
'ten' in list1

False

In [47]:
if 'three' in list1: # Check if 'three' exist in the list
  print('Three is present in the list')
else:
  print('Three is not present in the list')

Three is present in the list

In [48]:
if 'eleven' in list1: # Check if 'eleven' exist in the list
  print('eleven is present in the list')
else:
  print('eleven is not present in the list')

eleven is not present in the list

# Reverse and sort list

In [50]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [53]:
list1.reverse() # Reverse the order of the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [54]:
list1 = list1[::-1] # Reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [55]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [56]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [57]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4) # Returns a new sorted list and doesn't change original list

[11, 21, 33, 65, 88, 98]

In [58]:
mylist4

[88, 65, 33, 21, 11, 98]

# loop through a list

In [59]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [61]:
for i in list1:
  print(i)

one
two
three
four
five
six
seven
eight

In [62]:
for i in enumerate(list1): # enumerate() function returns the index and value of the list
  print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Count

In [63]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [64]:
list10.count('one') # Count the number of times 'one' appears in the list

3

In [65]:
list10.count('two')

2

In [66]:
list10.count('four') #Occurence of item 'four' in the list

1

# All / Any

# the all()method returns

- True - If all elements in a list are true
- False - If any element in a list is false

* The any() function returns True if any element in the list is True. If not, any() returns False.

In [67]:
L1 = [1,2,3,4,0]
all(L1) # Check if all elements in the list are True

False

In [68]:
any(L1) 
# Will Return True as we have items in the list with True value

True

In [70]:
L2 = [1,2,3,4,True,False]
all(L2) # Check if all elements in the list are True

False

In [71]:
any(L2)

True

In [73]:
l3 = [1,2,3,True]
all(l3) # Will return True as all items in the list are True

True