LOOPS -- in programing world some time we keep on repeating , may be you want to repeat 5 statement so one way is copy & paste multiple times or other way is

if you want to print the datascience 1000 times then what you will you cant copy for 1000 times , if you want to print 1000 times then you cant do manualy . that is the reason why we need to apply loop ->
2 type of loops -- While loop & For loop

In [28]:
print('datascience')
print('datascience')
print('datascience')
print('datascience')
print('datascience')
print('datascience')

datascience
datascience
datascience
datascience
datascience
datascience

In [29]:
i= 1        #initializing 

while i<=5:       #condition
  print('datascience')
  i= i-1  # decrement
  break

datascience

In [30]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # decrement

data science
data science
data science
data science
data science

In [31]:
i = 1         # initializing
while i<=5:    # condition
    print('data science : ', i)
    i = i + 1  # increment

data science :  1
data science :  2
data science :  3
data science :  4
data science :  5

In [32]:
i = 5 
while i>=1:
  print('datascience :',i)
  i=i-1 #decrement

datascience : 5
datascience : 4
datascience : 3
datascience : 2
datascience : 1

# Multiple while loop

In [33]:
i= 1 

while i<=5:
  print('datascience')
  j = 1
  while j<=4:
    print('technology')
    j= j+ 1
    
  i = i + 1
  print()

datascience
technology
technology
technology
technology

datascience
technology
technology
technology
technology

datascience
technology
technology
technology
technology

datascience
technology
technology
technology
technology

datascience
technology
technology
technology
technology

In [34]:
i = 1
while i<=5:
  print('datascience',end="")
  j=1
  while j<=4:
    print(' technology',end="")
    j= j+1
    
  i = i + 1
  print()

datascience technology technology technology technology
datascience technology technology technology technology
datascience technology technology technology technology
datascience technology technology technology technology
datascience technology technology technology technology

In [35]:
i = 1 

while i<=4:
  j=0
  while j <= 3 :
    print(i*j,end = " ")
    j+= 1
  print()
  i+=1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

FOR LOOP --
normally while loop it work with iteration or certain some condition but for loop it will work with sequence (list,string,int)

In [36]:
name = 'nit'
for i in name :
  print(i)

n
i
t

In [37]:
name1= [1,2,3,'Hello']
for i in name1:
  print(i)

1
2
3
Hello

In [38]:
for i in [2,3,7.8,'hi']:
  print(i)

2
3
7.8
hi

In [39]:
range(5)

range(0, 5)

In [40]:
for i in range(5):
  print(i)

0
1
2
3
4

In [41]:
for i in range(2,5):
  print(i)

2
3
4

In [42]:
for i in range(1,10,3):
  print(i)

1
4
7

In [43]:
for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [44]:
for i in range(1,51):
  if i%5==0 :
    print(i)

5
10
15
20
25
30
35
40
45
50

In [46]:
for i in range(0,51):
  if i%5 !=0 :
    print(i)# printing numbers not divisible by 5

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [47]:
for i in range(0,51):
  if i%5==0 :
    print(i)

0
5
10
15
20
25
30
35
40
45
50